.admin-link{
  display: inline-block; 
}

.admin-link a {
  margin-bottom: 0.5em;
}

/* .brc-util.btn  {
  display: block;
  margin-bottom: 0.5em;
} */

#brc-file-btn-parent {
  display: inline-block;
  position: relative;
  top: 10px;
}

#brc-tab-gallery.shift-caption .lightGallery-captions {
  transform: translate(0, -80px);
}

